<!DOCTYPE html>
<html>
<head>
  
  <title>Stash</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <meta name="description" content="Saving money is fun">
    
    <meta name="author" content="David Horn">

  <%= render partial: 'shared/theme_header' %>
  
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>

  <%= javascript_include_tag 'application', 'data-turbolinks-track' => false %>

  <%= csrf_meta_tags %>

<base href="/">

</head>

<body ng-app="CoffeeBankApp" class="blue" ng-controller="MainController">

<%= render partial: 'shared/flash' %>

<!-- Nav Bar -->

 <div id="navbar" class="navbar navbar-inverse">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand scroll" href="#home"><i class="fa fa-usd"></i><span>TASH</span></a>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            
            <li><a class="scroll hidden" href="#home"></a></li>
            <li><a class="scroll" href="#gallery">ITEMS</a></li>
            <li><a class="scroll" href="#features">MY SAVINGS</a></li>
            <li><a class="scroll" href="#global">GLOBAL</a></li>
            <li><a class="scroll" href="#accordion">ABOUT</a></li>

            <li ng-show="!currentUser"><a href="/login">LOGIN</a></li>

           <!-- Current User Info -->   
            <li ng-show="currentUser"><p class="navbar-text pad"><img ng-show="currentUser.picture" ng-src="{{currentUser.picture}}" alt="currentUser.picture" class="img-rounded avatar"><span class="white"> Signed in as {{currentUser.name}}</span></p></li>
            <li ng-show="currentUser"><%= link_to "Log Out", logout_path, {method: :delete, :style => 'color: white'}%></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>  




    <!-- Home Section -->
    <div id="home" class="section macbook" >   
      <div class="parallax"><img src="assets/coffee-head.png"></div>

  <!-- Auth Section and Landing Section -->

  <div ng-view></div>


  </div><!-- /.container -->





<!-- Items will be placed here -->

<div ng-controller="ItemsController" >

 <div id="gallery" class="section">

      <div class="container">  
        <div class="content">
          <div class="text-center">
            <h2 class="title">What did you save on today?</h2>            
          </div>
          <div class="row">
            <div class="col-md-2 col-sm-2 col-xs-12"></div>
            <div class="col-md-8 col-sm-8 col-xs-12">
              <p class="description text-center">Create custom items that you can save on every day, and then when you skip something, make sure to tap it and watch your savings grow! Click on the “Add Item” button, enter a name and price for the item you will be saving on, then select a category and save it.</p>

            </div>
            <div class="col-md-2 col-sm-2 col-xs-12">
              <a href="#" id="item" class="btn btn-info" ng-click="itemForm = true" ng-hide="itemForm || !currentUser">Add Item</a> 
              <a href="#" id="item" class="btn btn-info" ng-show="currentUser" ng-click="deleteMe = true">Remove Item</a> 
              <a href="#" id="item" class="btn btn-info" ng-show="currentUser" ng-click="ShowItems()">Show/Hide Items</a>
            </div>
          </div>
          
<!-- Forms for CRUD on Items -->

<div class="row">

<form class="form-horizontal item-form" novalidate name="item_form" ng-show="itemForm">

  <div class="form-group">

    <label class="col-sm-2 control-label"><strong>Name:</strong></label>
    <div class="col-sm-10">
      <div class="input-group">
      <div class="input-group-addon"><i class="fa fa-hand-o-right"></i></div>
      <input type="text" class="form-control" ng-model="newItem.name" name="name" placeholder="item name" required>
      </div>
       
       <!-- Name Error Message -->
  
        <div class="auth-error alert alert-danger text-center" ng-show="item_form.name.$error.required && item_form.name.$invalid && item_form.submitted">A item name is Required</div>

    </div>
  </div>

   <div class="form-group">
    <label class="col-sm-2 control-label"><strong>Price:</strong></label>
    <div class="col-sm-10">
      <div class="input-group">
      <div class="input-group-addon"><i class="fa fa-usd"></i></div>
      <input type="number" class="form-control price" ng-model="newItem.price" name="price" placeholder="cost of item can't be negative and should be less than 100." min="0" max="100" required>
      </div>
   
        <!-- Price Error Message -->

        <div class="alert alert-danger auth-error text-center" ng-show="item_form.price.$error.required && item_form.price.$invalid && item_form.submitted">A price for the item is Required</div>
        

     </div>
  </div>

 <div class="form-group">
    <label class="col-sm-2 control-label"><strong>Category:</strong></label>
    <div class="col-sm-10">

<select ng-model="newItem.category" class="form-control" name="category" required>
  <option value="coffee">Coffee</option>
  <option value="tea">Tea</option>
  <option value="drinks">Drinks</option>
  <option value="entertainment">Entertainment</option>
  <option value="food">Food</option>
  <option value="travel">Travel</option>
  <option value="clothing">Clothing</option>
  <option value="other">Other</option>
</select>


        <!-- Price Error Message -->

        <div class="alert alert-danger auth-error text-center" ng-show="item_form.category.$error.required && item_form.category.$invalid && item_form.submitted">A category for the item is Required</div>
        

     </div>
  </div>
 
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
  
  <a href="#" ng-click="AddItem(newItem)" id="item" class="btn btn-info">Add It!</a>

  <a href="#" id="item" ng-click="ResetItemForm()" class="btn btn-info">Exit</a>

              </div>
           </div>
        </form>


<!-- End of create item form -->

           </div>
        </div><!-- /.content -->  




<!-- ng-repeat for items -->

<p class="red" ng-show="deleteMe">Click on an item to Delete it! <a href="#" ng-click="deleteMe = false">(nevermind)</a></p>

<div id="grid" class="row effect-2" ng-show="showItem" ng-class="{'save_action': saveAction}">

<div ng-repeat="(key, item) in items" ng-class="{'repeated_item': deleteMe}"> 


<!-- ng-repeat with items/ directive -->

<dh-item-template ng-click="SaveIt(item); DeleteItem(item, $index)" itemdata="item" id="item._id"></dh-item-template>


        </div> 

       <div ng-show="saveAction" class="text-center save-me">
       <img ng-src="assets/green_check.png"><h3 style="color: green">SAVED!</h3></div> 

   </div>
   
  <div class="row"> 
 <a href="#" id="item" class="btn btn-info" ng-show="currentUser && saves.length > 1" ng-click="UndoSave()">Undo Last Save</a> 

      <hr> 
    </div>        
    </div><!-- /.container -->  


</div>




    <!-- User Stats Section -->

    <div class="section gray">
      <div id="features" class="container" ng-show="currentUser">
        
        <div class="content">

<dh-reward-template data="currentSaver"></dh-reward-template>

          <div class="row single vcontainer">
              
            <div class="col-md-6 col-sm-6 col-xs-12 valign">


                <div class="preview slide-in left personal_feed">
                  
                  <h3 class="text-center">Your Recent Activity:</h3>
                  
                  <div ng-repeat="(key, save) in saves | limitTo:-5 | orderBy:'time':true">                   
<dh-save-template savedata="save" id="save._id"></dh-save-template>


                      </div>
                </div> 

            <!-- Only works on img tags -->
            <!--   <img class="preview slide-in left" src="assets/preview2.jpg"> -->

            </div>



            <div class="col-md-6 col-sm-6 col-xs-12 valign">
              <div class="wrapper">
                <h3>How am I doing?</h3>
                <p>Number of SAVES: <strong>{{saves.length}}</strong></p>
                <p>Amount saved this month: <strong>{{currentSaver.month_savings | currency:"$":2}}</strong>&nbsp;&nbsp; | &nbsp;&nbsp;Total amount saved: <strong>{{currentSaver.total_savings | currency:"$":2}}</strong></p>
                
                <hr>

                <p><strong>Saved this month (by category)</strong></p>
              
              <dh-chart-legend cat="monthCat"></dh-chart-legend>



<div class="container charts">

<dh-chart-template monthdata="{{thisMonth}}" chartdata="{{saves}}" id="user-chart"></dh-chart-template>

</div>

<!-- Style for D3 chart -->

<style>

path.slice{
  stroke-width:2px;
}
polyline{
  opacity: .3;
  stroke: black;
  stroke-width: 2px;
  fill: none;
} 
svg text.percent{
  fill:white;
  text-anchor:middle;
  font-size:12px;
}

</style>
            
      
        
          </div> <!-- end wrapper -->
        </div>
      </div>
    </div><!-- /.content -->
  </div> <!-- end container -->

<hr>

      <!-- Global Stats -->

      <div class="container no-bottom" id="global">
        
        <div class="content">

          <div class="row single vcontainer">
              
            <div class="col-md-6 col-sm-6 col-xs-12 valign">


                <div class="preview slide-in left global-feed">
                  
                  <h3 class="text-center">Global Activity:</h3>
                  
                  <div ng-repeat="(key, save) in globalData | limitTo:-30 | orderBy:'time':true">                   

<dh-global-save-template savedata="save" id="save._id"></dh-global-save-template>


                      </div>
                </div> 
            </div>



            <div class="col-md-6 col-sm-6 col-xs-12 valign">
              <div class="wrapper">
                <h3>How are we doing?</h3>
                <p>Number of SAVES: <strong>{{globalData.length}}</strong></p>
                <p>Amount saved this month: <strong>{{globalMonthTotal.total | currency:"$":2}}</strong>&nbsp;&nbsp; | &nbsp;&nbsp;Total amount saved: <strong>{{globalTotal | currency:"$":2}}</strong></p>
                
                <hr>

                <p><strong>Saved this month (by category)</strong></p>
              
              <dh-chart-legend cat="globalMonthTotal"></dh-chart-legend>

<div class="container charts">

<dh-chart-two-template monthdatatwo="{{globalMonth}}" chartdatatwo="{{globalData}}" id="global-chart"></dh-chart-two-template>           
      
    </div>    
                 </div> <!-- end wrapper -->
              </div>
            </div>
          
        </div> <!-- /.content -->
      </div> <!-- end container -->
    </div>
</div> <!-- End of the Items Controller -->


    <hr>

    <!-- Collapsible -->
    <!-- End Section, About Us -->
    <div id="accordion" class="section">
      <div class="container">  
        <div class="content">
          <div class="text-center">
            <h2 class="title">About Us</h2><br><br>         
          </div>
        </div>    
        <div class="panel-group" id="accordion">
          <div class="panel panel-default">
            <div class="panel-heading active">
              <h4 class="panel-title">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                STASH
                </a>
              </h4><i class="fa fa-plus"></i><i class="fa fa-minus"></i>
            </div>
            <div id="collapseOne" class="panel-collapse collapse in">
              <div class="panel-body">
               Simply create an account, add items that you buy regularly but are not necessities (these should be small purchases), and then the next time you skip one of those purchases, tap it and give yourself a pat on the back. Keep track of how much you are saving and also see what your friends on <i class="fa fa-usd"></i>TASH are saving with you. 
              </div>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                  Site Developer
                </a>
              </h4><i class="fa fa-plus"></i><i class="fa fa-minus"></i>
            </div>
            <div id="collapseTwo" class="panel-collapse collapse">
              <div class="panel-body">
                <i class="fa fa-usd"></i>TASH was developed by David Horn for the Galvanize 6-moth Full Stack Web Development Program. It uses AngularJS with a Ruby on Rails API and D3.<br/ > 
                David is a Software Developer and an active, participating, and collaborating member of the tech community who is seeking to become a contributing member of a development team where I can productively support and engage my proven ability to improve team work flow, dynamic, and results.
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


    <hr>


<!-- Footer -->

    <div id="footer" class="section light">
      <div class="container">
        <div class="row">
          <div class="col-md-6 col-sm-6 col-xs-12">
            <p>Made by <a href="http://davidhorndev.com" target="_blank">David Horn</a></p>   
          </div>
          <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="">
            <p class="social-media">
             <!--  <a href="#" data-toggle="tooltip" title="twitter"><i class="fa fa-twitter"></i></a> -->
            <!--   <a href="#" data-toggle="tooltip" title="facebook"><i class="fa fa-facebook"></i></a> -->
            <!--   <a href="#" data-toggle="tooltip" title="linkedin"><i class="fa fa-linkedin"></i></a> -->
              <a href="https://github.com/horndavidg/coffee_bank" data-toggle="tooltip" title="github" target="_blank"><i class="fa fa-github"></i></a>
            </p>
         </div>
        </div>
      </div>  
    </div>
</div>



</body>
</html>
